*
{
    padding: 0;
    margin:0;

}

.modal-bg {
    position:fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    justify-items: center;
}

#modal article {

    height: 33vh;
    width: 33vw;
    background-color: white;
    padding: 3rem;

}

.modal-register-bg {
    position:fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    justify-items: center;
}

#modal-register article {
    display: flex;
    justify-content: space-around;
    height: 33vh;
    width: 20vw;
    padding: 3rem;
    margin-top: 20rem;
    background-color: white;
}

form {

    display: flex;
    flex-direction: column;
    justify-content: around;
    height: 100%;
    font-weight: 800;
}

#imgLabel {
    margin-top: 20%;
}

form button {
    margin-top: 20%;
}

form h2 {
    margin-bottom: 30%;
}

#page {
    display: grid;
    grid-template-rows: 8vh 3vh 52vh 29vh;
    grid-template-columns: 3vw 20vw 30vw 0.5vw 30vw 5vw 3vw;
    grid-template-areas:
    "header header header header header header header" 
    "blank blank blank blank register register register"
    "center-image center-image center-image aside aside blank2 blank2"
    "button1 main main main main main button2";
    height: 90vh;
    width: 92vw;
}

#app {
    /*background-color: rgb(0, 132, 255);*/
    display: grid;
    grid-template-columns:  15vw 15vw 15vw 15vw 15vw ;
    width: 83vw;
    gap: 50px;
    margin-top:1rem;
    margin-left:auto;
    margin-right: auto;
}

.rest-card {
    border-color: silver;
}

.rest-card div {
    height:20rem;
    background-size: cover;
    background-position: center center;
}

.rest-card footer {
    display: flex;
    justify-content: space-around;
    flex: 1 1 1 auto;
}

.rest-card footer button {
    margin-top: 1%;
    width: 20%;
    background-color:greenyellow;
    font-style: italic;
}

.rest-card h2 {
    background-color: white;
    flex:1 1 auto;
}

#register {
    width: 30%;
    border-radius: 10px;
    background-color: rgb(100, 166, 240);
    font-size: 23px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 49%
}

#register:hover {
    background-color: #555555;
    color: white;
}

header {
    /*background-color: aqua;*/
    justify-self:center;
    align-self:end;
    font-size: 35px;
}

#top-image {
    background-color: hotpink;
    width: 50vw;
}

#button1 {
    width: 50%;
    height: 40%;
    align-self:center;
    justify-items:right;
    justify-self:end;
    border: 0ch;
}

#button2 {
    width: 50%;
    height: 40%;
    align-self:center;
    justify-self:start;
    border: 0ch;
}

#centerImageId {
    height:100%;
    padding-left: 10rem;
}

#center-image {
    height:100%;
    padding-left: 10rem;
}

#menus {
    background-color: silver;
    border: grey;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
}