header {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size:xx-large;
    padding: 1px;
    background-image: linear-gradient(to bottom, rgb(1, 4, 37) 0%, rgb(3, 11, 51) 100%);
    background-clip: content-box, padding-box;
    margin: 15px;
    color: rgb(255, 255, 255);
    /*text-decoration: overline underline;*/
    font-family: CASINO;
}

.header-img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;;
    text-align: center;
  }

  

  @font-face {
    font-family: CASINO;
    src: url(CASIQN__.TTF);
 }

 @font-face {
    font-family: Jackpot;
    src: url(Jackpot.ttf);
 }

 @font-face {
    font-family: Poker;
    src: url(Poker.ttf);
 }

 @font-face {
    font-family: Roulette;
    src: url(Roulette.otf);
 }
 

body {
    background-color: rgba(152, 217, 243, 0.233);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.front-page-grid {
    display: grid;
    grid-template-columns:33% 33% 33%;
    grid-template-rows: auto;
    align-items:center;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 24rem;    
    padding-right: 24rem;
    align-items: normal;
    justify-items: center;

    /*padding: 5rem;*/
    /*box-shadow: 2px 1px 5px 1px grey;*/
}

article {

    border-style: solid 3px silver;
    border-radius: 24px;
}

.games-image{ 
    width: 200px;
    height: 250px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    border-radius:24px 24px 24px 24px ;
 }

.button {
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    opacity: 100;
    transition: all 0.5s;
   
}

.button:hover {
    background-color: white;
    border-radius:24px 24px 24px 24px ;
    border: 4px dotted rgb(25, 35, 184);
}


.game-desc1{
    padding: 16px;
    margin: 0%;
    color: rgb(45, 81, 201);
    text-align: center;
    font-family: Jackpot;
    font-size: small;
    letter-spacing: 0ch;  

    white-space: pre;  
}

.game-desc2{
    padding: 16px;
    margin: 0%;
    color: rgb(45, 81, 201);
    text-align: center;
    font-family: Poker;
    font-size: xx-large;
}

.game-desc3{
    padding: 16px;
    margin: 0%;
    color: rgb(45, 81, 201);
    text-align: center;
    font-family: Roulette;
    font-size: xx-large;
    }