header {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size:xx-large;
    padding: 1px;
    background-image: linear-gradient(to bottom, rgb(1, 4, 37) 0%, rgb(3, 11, 51) 100%);
    background-clip: content-box, padding-box;
    margin: 15px;
    color: rgb(255, 255, 255);
    font-family: CASINO;
}

body {
    background-color: rgba(152, 217, 243, 0.233);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-align: center;
}

.main{

    display:flex;
    align-items: center;
    align-content: center;
}

.slot-page-grid {
    display:inline-grid;
    grid-template-columns:repeat(5, 7.2rem);
    grid-template-rows: 10% 25% 30% 25%  10%;
    align-content: center;
    justify-items: center;
    box-shadow: 3px 3px 8px 2px grey;
    width: 350px;
    height: 350px;
    margin: auto;
    border-radius: 8%;
    background: linear-gradient(to bottom,  #7e7e7e 5%, #7e7e7e00 25%, #ffffffbd 50%, #7e7e7e00 75%, #7e7e7e 100%);
}


#space1 { 
    grid-row: 1;
    grid-column: 4 / -1;
}

#play-button {
    width: 130px;
    height:130px;
    background-color: white;  
    border-radius: 50%;
    border-color: rgb(225, 0, 255);
    border-width: 1rem;
    font-size:xx-large;
    justify-content: center;
    color: blue;
    font-family: CASINO; 
    overflow:auto;
    align-self: auto;
    text-align: center;
}

#play-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#stake5 {
    grid-row: 3 / 6 ;
    grid-column: 4 / -1;
}

#stake10 {
    grid-row: 2 / 4 ;
    grid-column: 4 / -1;
}   

.stake {
        width: 100px;
    height:100px;
    background-color: navy;  
    border-radius: 10%;
    border-color: gray;
    border-width: 0.8rem;
    font-size:xx-large;
    justify-content: center;
    color: white;
    font-family: CASINO; 
    align-self: auto;
    justify-content: center;
}
    
.stake:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.credit {
    border-radius: 5%;
    background-color:rgb(225, 0, 255);
    color: white;
    transition: 6ms;
    border-radius: 5%;
    transition: 6ms;
 }

 @font-face {
    font-family: Jackpot;
    src: url(Jackpot.ttf);
 }

 #add-credit {
    font-family: Jackpot; 
 }

@font-face {
    font-family: CASINO;
    src: url(CASIQN__.TTF);
}
    
.header-img {
    float: left;
    width: 100px;
    height: 100px;
    background: #555;;
    text-align: center;
}
    
.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
    background-color: rgb(0, 1, 73);
    border-color: white;
    width: 130px;
    height: 130px;
    font-size: xx-large;
    color:rgb(255, 255, 255);
    border-radius: 2rem;
    font-family: CASINO;
    position:relative;
}

@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}
 
img { 
    max-width: 100%;
}

.slot-image-top {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    align-self: center;
    transform: rotateX(-75deg);
    max-width: 100%;
    
}

.slot-image-top-middle {
    width: 110px;
    height: 110px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    align-self: center;
    transform: rotateX(-50deg);
}

.slot-image-center {
    width: 140px;
    height: 140px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    align-self: center;
    transform: rotateX(0deg);
}

.slot-image-middle-bottom {
    width: 110px;
    height: 110px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    align-self: center;
    transform: rotateX(50deg); 
}

.slot-image-bottom {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    align-self: center;
    transform: rotateX(75deg);     
}

.balance {
    text-align: center;
}

section > div {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    align-self: center;
    transform: rotateX(-75deg);
}


    




